php_value session.gc_maxlifetime 259200
php_value session.cookie_lifetime 259200
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
RewriteRule ^index/page/(\d+)/?$ index.php?page=$1 [L]
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
AddDefaultCharset UTF-8
ErrorDocument 404 https://api.kt-segment.ru/bad/404.php
ErrorDocument 403 https://api.kt-segment.ru/bad/403.php
ErrorDocument 401 https://api.kt-segment.ru/bad/401.php
ErrorDocument 500 https://api.kt-segment.ru/bad/500.php
ErrorDocument 502 https://api.kt-segment.ru/bad/502.php
ErrorDocument 503 https://api.kt-segment.ru/bad/503.php
